/*  */

/* cart info */
.cart_total_and_checkout_cont{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.cart_total_cont{
    /* text-align: right; */
    /* margin: 20px 20px; */
}

.cart_total_cont h4{
    margin: 5px;
}

.placeOrder_btn{
    padding: 10px;
    border: 1px solid rgb(28, 104, 245);
    background-color: rgb(28, 104, 245);
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.placeOrder_btn:hover{
    transform: scale(1.05);
}

.cart_list_cont{
    margin: 20px 0;
    /* border: 1px solid lightgray; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* cart item */

.cart_item_cont{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.cart_item_left_cont{
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    align-items: center;
}

.item_img_cont{
    height: 80px;
    width: 80px;
    background-color:rgba(225, 225, 225, 0.459) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.item_img_cont img{
    height: 60px;
    width: 60px;
}

.item_category{
    margin: 4px 0px;
    padding: 2px 10px;
    border-radius: 40px;
    border: 1px solid rgba(128, 128, 128, 0.612);
    width: fit-content;
}

.item_category p{
    margin: 0px;
    font-size: 12.5px;
}

.cart_item_right_cont{
    padding: 0 8px;
}

.item_price{
    text-align: right;
}

.item_actions_cont{
    display: flex;
    gap: 14px;
    align-items: center;
}

.update_quantity{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px 8px;
    background-color:rgba(225, 225, 225, 0.459) ;
}

.remove_icon{
    color: darkgray;
    transform: scale(1.1);
    cursor: pointer;
}

.remove_icon:hover{
    color: rgb(61, 61, 61);
    transform: scale(1.2);
}

.update_quantity p{
    margin: 0px;
}

.dec_quantity, .inc_quantity{
    margin: 0px;
    cursor: pointer;
    color: darkgray;
    transform: scale(0.8);
}

.dec_quantity:hover, .inc_quantity:hover{
    color: rgb(61, 61, 61);
    transform: scale(1);
}

.update_quantity span{
    cursor: pointer;
}

