/*  */

.auth_cont {
    padding: 20px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

form{
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.auth_cont input{
    margin-bottom: 10px;
    padding: 14px;
    border: 1px solid rgba(117, 66, 226, 0.866);
    border-radius: 10px;
}

.auth_cont input::placeholder{
    font-size: 17px;
    color: rgb(161, 161, 161);
}

.auth_cont input:focus{
    outline: 1px solid rgba(117, 66, 226, 0.94);
}

.auth_cont button{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    /* background-color: rgba(12, 2, 34, 0.867); */
    background-color: rgba(117, 66, 226, 0.866);
    color: white;
    font-size: 19px;
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(120, 115, 115, 0.768); */
    box-shadow: 0px 4px 4px rgba(169, 131, 253, 0.849);
    transition: background-color 0.2s ease-in-out;
}

.auth_cont button:hover{
    border: 1px solid rgba(117, 66, 226, 0.866);
    box-shadow: 0px 4px 4px rgba(117, 66, 226, 0.289);
    background-color: white;
    color: rgba(117, 66, 226, 0.866);
    outline: 1px solid rgba(117, 66, 226, 0.94);
}

a{
    text-decoration: none;
    font-weight: bold;
}