
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 2, 34);
    padding: 20px 40px 
}

.navLeftCont{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

h2{
    margin: 0;
}

.navLinks{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .linkCont{
    display: flex;
    align-items: center;
    gap: 10px;
} */

.linkCont a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: yellow;
}

p{
    margin: 0;
    letter-spacing: 0.4px;
    font-size: 17px;
}

#cartLinkCont a{
    position: relative;
}

.cartCount{
    box-sizing: border-box;
    position: absolute;
    top: -12px;
    right: -12px;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartCount p{
    
}
    
