
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 2, 34);
    padding: 20px 40px 
}

.navLeftCont{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

h2{
    margin: 0;
}

.navLinks{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLinks a{
    text-decoration: none;
    color: yellow;
}

p{
    margin: 0;
    letter-spacing: 0.4px;
}